<template name="feed">
  <div>
	<div class="right floated ui blue button logo inverted link logout">
      <i class="location icon"></i>
  	Logout
    </div>
    <div class="left floated ui blue block header">
    	{{name}}
    </div>
  </div>
  <!--remove--><div class="prompt">
    <div id="you" class="content">
	  <div class="ui inline fluid input">
		<label class="ui inline label">Recipient: </label>
		<input id="recipient" type="text" placeholder="Elmo">
	  </div>
      <div class="ui blue fluid submit button">
        Submit
      </div>
    </div>
  </div><!--/remove-->
  {{#if warning}}
	{{> warningLo}}
  {{/if}}
  {{> contacts}}
  {{> activelos}}

  <div class="ui divider"></div>

</template>

<template name="lo">
  <div class="lo container">
    <div class="content">
      <strong>{{sender}}</strong> sent a <a class="ui blue link header square" href="https://www.google.com/maps/@{{lat}},{{long}},16z">Lo<i style="padding:0;margin:0" class="location icon"></i></a> to <strong>{{recipient}}</strong>
      <br>
    </div>
  </div>
</template>

<template name="contacts">
  <div class="contact">
	<div class="ui blue inverted primary segment "> 
	  	<div class="ui blue inverted block header centered">
			Contacts
		</div>
		<i class="ui plus link icon add sign box large"></i>
		<div class="centered content">
			<div class="ui block inverted header">Jim Bob</div>
		</div>
	</div>
  </div>
</template>


<template name="activelos">
  <div class="activelos">
	<div class="ui primary segment centered">
	  	<div class="ui blue inverted block header">
	  	 	Active Lo's
	  	</div>
	    <div class="centered content">
		  {{#each los}}
		    {{> lo}}
		  {{/each}}
	    </div>
	</div>
  </div>
</template>


<template name="warningLo">
  	<div class="ui segment centered red block header contact">
  	 	Warning: Your location is not known. Try to reload your page.
  </div>
</template>