<template name="feed">
  <div class="right floated ui blue button logo inverted link logout">
    <i class="location icon"></i>
	Logout
  </div>
  {{#if hasPostedToday}}
    {{> goodjob}}
  {{else}}
  <div class="prompt">
    <div class="question"> What's up? </div>
    <div id="today" class="content">
      <div class="ui inline fluid input">
        <input id="post" type="text" placeholder="The sky...">
      </div>
      <div class="ui blue fluid submit button">
        Submit
      </div>
    </div>
  </div>
  {{/if}}

  <div class="ui divider"></div>
  <div class="feed">
    {{feed}}
  </div>
  {{#each posts}}
    {{> post}}
  {{/each}}

</template>

<template name="post">
  <div class="post container">
    <div class="content">
      "{{content}}"
      <br>
    </div>
    <div class="user">
      {{name}}
    </div>
  </div>
</template>

<template name="goodjob">
  <div class="goodjob prompt">
    <div class="question">
      You've made a post!
    </div>
    <div class="centered content">
      If you like, you can edit your post.
    </div>
    <div id="yourPost" class="content">
      <div class="ui inline fluid input">
        <input id="update" type="text" value="">
      </div>
      <div class="ui blue fluid update button">
        Update
      </div>
    </div>
  </div>
</template>