<template name="login">
  <div class="ui login form">
    <div class="login logo">
      <i class="blue location icon"></i>
    </div>
    <div class="field">
      <label>Username</label>
      <div class="ui left labeled icon input">
        <input id="username" type="text" placeholder="Username">
        <i class="location icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left labeled icon input">
        <input id="password" type="password" placeholder="Password">
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="ui blue fluid login button">Login</div>
    <div class="ui error message">
      The Username or Password is incorrect.
    </div>
	<hr>
    <div class="field">
      <label>Name</label>
      <div class="ui left labeled icon input">
        <input id="name" type="name" placeholder="Name">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Email</label>
      <div class="ui left labeled icon input">
        <input id="email" type="email" placeholder="Email">
        <i class="mail icon"></i>
      </div>
    </div>
	<div class="ui blue fluid register button">Register</div>
  </div>
</template>