.upright {
	position:absolute;
	right:20px;
}

.upleft {
	position:relative;
	left:20px;
}

/*.right {
	position:absolute;
	right:20px;
}*/

.contactlist {
	cursor:pointer;
}

body
{
  font-family: 'Lato', 'Helvetic Neue', 'Helvetica', sans-serif;
  font-weight: 400;
  color: #333332;
}

.centered {
  text-align: center;
}

.login.form {
  width: 320px;
  margin: 0 auto;
}

#you.content {
  width:90%;
  max-width: 720px;
  margin: 8px auto;
}

#you input {
  font-family: 'Lato', 'Helvetic Neue', 'Helvetica', sans-serif;
  text-align: left;
  font-size: 1.3em;
  padding: 2px 2px;
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #333332;
  background: transparent;
  margin-top: 40px;
  margin-bottom: 20px;
}

.feed {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  margin: 30px 0;
}

.lo.container {
  width:90%;
  max-width: 720px;
  margin: 36px auto;
  text-align: center;
}

.lo .content {
  font-size: 1.2em;
}

.activelos,
.contact,
.warninglo {
  padding: 15px 0;
  width:90%;
  max-width: 720px;
  margin: 0 auto;
}

.plus {
	position:absolute;
	right:30px;
	top:27.5px;
}
